{% extends 'core/base.html' %}

{% block css %}
<style media="screen">
    .center {
        text-align: center;
    }
    p.upper {
        font-size: 20px;
    }

    .first-letter {
        font-size: 30px;
        /* color: blue; */
    }
</style>
{% endblock %}

{% block content %}
<div class="jumbotron">
<div class="container center">
    <h1 class="display-3">Bem-Vindo</h1>
    {% if user.is_authenticated %}
    <div class="alert alert-light" role="alert">
        <h3><strong>{{ user.get_short_name }}</strong></h3>

    </div>

    {% endif %}


  <p class="upper"><strong class="first-letter">S</strong>emana de <strong class="first-letter">E</strong>studos de <strong class="first-letter">Fí</strong>sica e
      <strong class="first-letter">M</strong>atemática</p>
      <p>da <strong>UEMASUL</strong></p>
</div>
</div>
{% endblock %}
