{% extends 'core/base.html' %}

{% block css %}
    <style media="screen">
        table {
            border-radius: 5px;
        }
    </style>
{% endblock %}

{% block content %}
<table class="table table-striped table-bordered table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Inscrição</th>
      <th scope="col" colspan="2" class='text-center'>Presença</th>
      <th scope="col" colspan="2" class='text-center'>E-mail</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Todos</td>
      <td class='text-center'><a href="{% url 'users:pdf_user_name_export' %}">pdf</a></td> <!-- Presenca -->
      <td class='text-center'><a href="{% url 'users:csv_user_name_export' %}">csv</a></td> <!-- Presença -->
      <td class='text-center'><a href="{% url 'users:pdf_user_email_export' %}">pdf</a></td> <!-- email -->
      <td class='text-center'><a href="{% url 'users:csv_user_name_email_export' %}">csv</a></td><!-- email -->
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Inscritos Pagantes</td>
      <td class='text-center'><a href="{% url 'users:pdf_user_subscribed_export' %}">pdf</a></td> <!-- Presenca -->
      <td class='text-center'>csv</td> <!-- Presença -->
      <td class='text-center'>pdf</td> <!-- email -->
      <td class='text-center'>csv</td><!-- email -->
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Inscritos Não Pagantes</td>
      <td class='text-center'><a href="{% url 'users:pdf_user_no_subscribed_export' %}">pdf</a></td>
      <td class='text-center'>csv</td>
      <td class='text-center'>pdf</td>
      <td class='text-center'>csv</td>
    </tr>
  </tbody>
</table>
{% if user.is_superuser %}
<h3>Banco de Dados</h3>
<table class="table table-striped table-bordered table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Tabelas</th>
      <th scope="col" class='text-center'>Json</th>
    </tr>
  </thead>
  <tbody>
      <tr>
          <th scope="row">1</th>
          <td>Core</td>
          <td class='text-center'>download</td> <!-- Presenca -->
      </tr>
      <tr>
          <th scope="row">2</th>
          <td>Minicourses</td>
          <td class='text-center'>download</td> <!-- Presenca -->
      </tr>
      <tr>
          <th scope="row">3</th>
          <td>Subscribe</td>
          <td class='text-center'>download</td> <!-- Presenca -->
      </tr>
      <tr>
          <th scope="row">4</th>
          <td>Users</td>
          <td class='text-center'>download</td> <!-- Presenca -->
      </tr>
  </tbody>
</table>
{% endif %}
{% endblock %}
