{% extends 'core/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block css %}
    <style media="screen">
        .with-margin {
            margin: 3px;
        }
        .box {
            margin: auto;
        }
        #btn-submit {
            margin-top: 10px;
        }
    </style>
{% endblock %}

{% block content %}
<div class="jumbotron">
<form class="form-signin" action='' method='post'>
    {% csrf_token %}
<div class="box col-4">

  <div class="text-center mb-4">
    <img class="mb-4" src="{% static 'media/logo_site.png' %}" alt="" width="202" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Sefim</h1>
    <p>Semana de Estudos de Física e Matemática</p>
  </div>

  <div class="form-label-group">
      {% for error in form.non_field_errors %}
          <div class="alert alert-danger">
              <p class="text-danger">{{ error }}</p>
          </div>
      {% endfor %}

    <label for="{{ form.username.id_for_label }}">
        {% if form.username.field.required %}
            <span class="required">{{ form.username.label }}</span>
        {% else %}
            {{ form.username.label }}
        {% endif %}
      </label>
      {% render_field form.username class='form-control with-margin' placeholder=form.username.label  %}
      {% if form.username.errors %}
          {% for error in form.username.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
            {% endfor %}
        {% endif %}
      {% if form.username.help_text %}

          <span class='help-text'>
              <small  class="form-text text-muted">
                  {{ form.username.help_text }}
              </small>
          </span>
      {% endif %}

  </div>

  <div class="form-label-group">
      <label for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
        {% render_field form.password class='form-control with-margin' placeholder=form.password.label  %}
        {% if form.password.errors %}
            {% for error in form.password.errors %}
              <div class="alert alert-danger">
                  <strong>{{ error|escape }}</strong>
              </div>
              {% endfor %}
          {% endif %}
        {% if form.password.help_text %}

            <span class='help-text'>
                <small  class="form-text text-muted">
                    {{ form.password.help_text }}
                </small>
            </span>
        {% endif %}
  </div>

  <input id='btn-submit' class="btn btn-lg btn-primary btn-block col-4" type="submit" name="" value="{{ title }}">
  <span class="badge "><a href="{% url 'users:password_reset' %}">Esqueceu a senha?</a></span>
  <p class="mt-5 mb-3 text-muted text-center"><small>&copy; 2018-2020<small></p>
</div>
</form>
</div>
{% endblock %}
