{% extends 'core/base.html' %}

{% load widget_tweaks %}

{% block content %}
<div class="jumbotron">
  {% if validlink %}
  <div class="container">
    <h1>Alterar senha</h1>

    <form action="" method="post">
      {% csrf_token %}
      <fieldset>
          {% for field in form %}
              <div class="form-group {% if field.errors %}has-error{% endif %}">
                  <label for="{{ field.auto_id }}">{{ field.label }}</label>
                  {% render_field field class='form-control' placeholder=field.label %}
                  {% for error in field.errors %}
                  <div class="alert alert-danger">
                      <span>{{ error }}</span>
                  </div>
                  {% endfor %}
                  {% if field.help_text %}
                      <span class='help_text'>{{ field.help_text }}</span>
                  {% endif %}
              </div>
          {% endfor %}

      </fieldset>

      <div class="col-12 ml-auto">
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
      </div>
    </form>
  </div>
  {% else %}
      <p>
        O link para redefinir senha está inválido, possivelmente já foi usado antes.
        Por favor, faça novamente o pedido para uma nova senha.
      </p>
  {% endif %}
</div>
{% endblock %}
