{% autoescape off %}

Olá,

Alguém solicitou uma redefinição de senha para o endereço de email {{ email }}.
Segue o link abaixo:

{{ protocol }}://{{ domain }}{% url 'users:password_reset_confirm' uidb64=uid token=token %}

Se ao clicar no link acima não funcionar, por favor, copie e cole a URL em uma nova aba.


Se você recebeu este e-mail por engano, é provável que outro usuário tenha inserido
seu endereço de e-mail por engano ao tentar redefinir uma senha. Se você não fez
a solicitação de nova senha, você não precisa tomar nenhuma medida adicional e pode seguramente
desconsiderar este e-mail.

Obrigado,

A equipe Organização SEFiM
{% endautoescape %}
