{% extends "core/base.html" %}

{% load widget_tweaks %}

{% block title %}
  Esqueci a Senha | {{ block.super }}
{% endblock %}

{% block contents %}
<div class="jumbotron">
  <h1>Equeceu sua senha?</h1>
  <p>Entre com seu email no campo abaixo,
    e enviaremos um email explicando como ter uma nova senha</p>

  <form class="box" action="" method="post">
    {% csrf_token %}
      <fieldset>
          {% for field in form %}
              <div class="form-group {% if field.errors %}has-error{% endif %}">
                  <label for="{{ field.auto_id }}">{{ field.label }}</label>
                  {% render_field field class='form-control' placeholder=field.label %}
                  {% for error in field.errors %}
                  <div class="alert alert-danger">
                      <span>{{ error }}</span>
                  </div>
                  {% endfor %}
                  {% if field.help_text %}
                      <span class='help_text'>{{ field.help_text }}</span>
                  {% endif %}
              </div>
          {% endfor %}

      </fieldset>

      <div class="col-12 ml-auto">
        <div class="form-group">
          <input type="submit" class="btn btn-primary" name="" value="Enviar">
          <a href="{% url 'users:login' %}"><button type="submit" class="btn btn-secondary">Voltar</button></a>
        </div>
      </div>
    </form>
  </form>
</div>
{% endblock %}
