{% extends 'core/base.html' %}

{% load static %}
{% load widget_tweaks %}

{% block css %}
<style>
span.required::after {
    content: " *";
    color: red;
}

.box {
    margin: auto;
}
</style>
{% endblock %}

{% block content %}
<div class="jumbotron">
<div class="container">
<h1 class="text-center">{{ title }}</h1>

<div class="box col-4">

<form action="" method="post">
    {% csrf_token %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <p class="text-danger">{{ error }}</p>
        </div>
    {% endfor %}

    {% for field in form %}
    <div class="form-group">
        <label for="{{ field.id_for_label }}">
            {% if field.field.required %}
                <span class="required">{{ field.label }}</span>
            {% else %}
                {{ field.label }}
            {% endif %}
          </label>
          {% render_field field class='form-control' placeholder=field.label %}
          {% if field.errors %}
              {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
                {% endfor %}
            {% endif %}
          {% if field.help_text %}

              <span class='help-text'>
                  <small  class="form-text text-muted">
                      {{ field.help_text }}
                  </small>
              </span>
          {% endif %}
    </div>
    {% endfor %}

  <input type="submit" class="btn btn-primary" name="" value="{{ title }}">
  <a href="{% url 'core:index' %}"><button type="button" class="btn btn-secondary">Voltar</button></a>
</form>
</div>
</div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static 'js/jquery-1.2.6.pack.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.maskedinput-1.1.4.pack.js' %}"/></script>
<script type="text/javascript">
	$(document).ready(function(){
		$("#id_cpf").mask("999.999.999-99");
	});
</script>
{% endblock %}
